:root {
    --font-size: 20px;
    --font-family: 'Jersey15';
    --font-color: #fff;
    --button-color: #FACCCC;
    --bg-color: #F8D3D3;
    --menu-color: #e0b2b2;
}

@font-face {
    font-family: 'Jersey15';
    src: url('../fonts/Jersey15-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}